.btn:hover {
    filter: brightness(0.8);
}

    .btn__square {
        width: 20rem;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        border-radius: 1rem;
    }

    .btn--white {
        color: var(--grey);
        background-color: var(--white);
    }

    .btn--red {
        background-color: var(--button);
        color: var(--white);
        text-shadow: 0.2rem 0.2rem 0.4rem var(--black-50-alpha);
    }
    .btn--blue {
        background-color: var(--blue);
    }