/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    line-height: 1.6;
    letter-spacing: 0rem;
    background-color: var(--white);
    color: var(--black);
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,p,ul,ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: 300;
}
a{
    text-decoration: none;
}
button, input{
    padding: 0;
    background: none;
    border: 0;
    font-size: 1.6rem;
}
