.notification {
    z-index: 9999;
    max-width: 30vw;
    min-height: 6rem;
    position: fixed;
    top: 6rem;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    animation: fadeIn 1s;
}

.notification--success {
    background-color: var(--success-bg);
    border: 0.2rem solid;
    border-color: var(--success-border);
    color: var(--success-text);
}

.notification--error {
    background-color: var(--error-bg);
    border: 0.2rem solid;
    border-color: var(--error-border);
    color: var(--white);
}

.notification--hide {
    opacity: 0;
    animation: fadeOut 1s;
}

.notification__icon {
    font-size: large;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}